@use "../mixins/" as *;
@use "../variables/breakpoints" as *;

.features {
  @include layout-constrain;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 9rem;
  margin-bottom: 10rem;
  grid-gap: 2rem;

  @media (max-width: $bp-2) {
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    &__intro {
      text-align: center;
    }
  }

  &__title {
    font-size: var(--fs-2);
    color: var(--color-dark-blue-1);
    margin-bottom: 2rem;
  }

  &__body {
    font-size: var(--fs-3);
    color: var(--color-gray-blue);
    max-width: 23rem;
    line-height: var(--line-height);

    @media (max-width: $bp-2) {
      margin: 0 auto;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
  }

  &__item {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: min-content;
    grid-template-areas:
      "number heading"
      ". text";

    @media (max-width: $bp-3) {
      grid-template-areas: "number heading" "text text";
    }
  }

  &__number {
    grid-area: number;
    background-color: var(--color-bright-red);
    color: var(--color-light-gray);
    padding: 0.5rem 1.5rem;
    font-weight: var(--fw-3);
    border-radius: 2rem;
    margin-right: 2rem;
    align-self: start;

    @media (max-width: $bp-3) {
      grid-template-areas: "number heading" "text text";
      margin-right: 0.5rem;
    }
  }

  &__heading {
    grid-area: heading;
    align-self: center;
    font-size: var(--fs-3);
    color: var(--color-dark-blue-1);
    @media (max-width: $bp-3) {
      background-color: var(--color-pale-red);
      position: relative;
      left: -1rem;
      z-index: -1;
      padding: 0.5rem;
      padding-left: 1rem;
      width: 150%;
    }
  }

  &__text {
    grid-area: text;
    color: var(--color-gray-blue);
    line-height: var(--line-height);
  }
}
