@use "../mixins/" as *;
@use "../variables/breakpoints" as *;

.footer {
  background-color: var(--color-dark-blue-2);
  padding: 5rem 0rem;

  &__grid {
    @include layout-constrain;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas:
      "logo nav form"
      "socials nav copyright";

    @media (max-width: $bp-1) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "logo logo"
        "socials socials"
        "nav form"
        "copyright copyright";

      justify-items: center;
      grid-row-gap: 2rem;
      grid-column-gap: 5rem;
    }

    @media (max-width: $bp-1) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "form"
        "nav"
        "socials"
        "logo"
        "copyright";
      grid-row-gap: 3rem;
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__form {
    grid-area: form;
    position: relative;
    align-self: start;

    @media (max-width: $bp-1) {
      align-self: center;
    }

    input {
      border-radius: 2rem;
      padding: 0.75rem 1rem;
      font-size: var(--fs-4);
      border: none;
      margin-right: 0.5rem;

      &::placeholder {
        color: var(--color-gray-blue);
      }
    }

    button {
      @include cta-button;
      border: none;
      padding-inline: 1.5rem;
      cursor: pointer;
    }
  }

  &__form--success {
    input,
    button {
      display: none;
    }
  }

  &__error {
    position: absolute;
    bottom: -1.5rem;
    left: 0.5rem;
    color: var(--color-bright-red);
    font-size: var(--fs-4);
    display: none;
  }

  &__success {
    display: none;
    color: var(--color-light-gray);
    font-size: var(--fs-3);
    font-weight: var(--fw-3);
  }

  &__form--error &__error {
    display: block;
  }

  &__form--success &__success {
    display: block;
  }

  &__copyright {
    grid-area: copyright;
    color: var(--color-gray-blue);
    font-size: var(--fs-4);
    align-self: end;
    justify-self: end;

    @media (max-width: $bp-1) {
      align-self: center;
      justify-self: center;
    }
  }

  &__nav {
    grid-area: nav;
    width: 60%;
    justify-self: center;

    @media (max-width: $bp-1) {
      width: auto;
    }
  }

  &__nav-list {
    align-self: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 1rem;
  }

  &__link {
    font-size: var(--fs-3);
    color: var(--color-light-gray);
    text-decoration: none;
    font-weight: var(--fs-1);
    transition: all 0.2s;

    &:hover {
      color: var(--color-bright-red);
    }
  }

  &__socials {
    grid-area: socials;
    list-style-type: none;
    display: flex;
    gap: 0.75rem;

    @media (max-width: $bp-1) {
      margin-bottom: 3rem;
    }

    @media (max-width: $bp-2) {
      transform: scale(1.5);
      margin-bottom: 0;
    }
  }
}
