@use "../mixins/" as *;
@use "../variables/breakpoints" as *;

.header {
  @include layout-constrain;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-right: 13.5rem;

    @media (max-width: $bp-1) {
      margin-right: 0;
    }
  }

  &__nav {
    flex: 1;

    @media (max-width: $bp-1) {
      flex: unset;
    }

    @media (max-width: $bp-2) {
      display: none;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__item {
    &--push {
      margin-right: auto;
    }
  }

  &__link {
    text-decoration: none;
    font-size: var(--fs-4);
    color: var(--color-dark-blue-1);
    display: block;
    font-weight: var(--fw-2);
    transition: all 0.2s;

    &:hover {
      opacity: 0.5;
    }

    &--primary {
      @include cta-button;
    }
  }
}
